
{% extends "layout.html" %}
{% block menuBar %}

<li><a href="/studentHome">Previous Questions</a></li>
<li><a href="/answerQuestion">Answer Question</a></li>
 <li><a href="/logout">Logout</a></li>
{% endblock %}

{% block content %}
<div id="mngc">
    <div style="width:400px">
    <fieldset class="sf" style="color:Black; border-width:3px; "  >
        <legend ><h4> Question</h4></legend>






<tr>{% if  answers %}{{answers[0][0]}}{% endif %} {{mess}}</tr>
<br><br>

<!--<div id="img">
    <img src="questionImages/math2.png" alt="" width="450" height="309.6" />
</div>-->


<!-- <div id="thing">
<script type="text/javascript">
var qImage = document.getElementsByName("qImage").value;
var img = document.createElement("img");
    img.src = qImage;
    img.width = 450;
    img.height = 310;
    img.alt = "";

    // This next line will just add it to the <body> tag
    document.div.appendChild(img);
</script>
</div>-->

<!--<script type="text/javascript"> 
var answer = document.getElementsByName("answers")[0].value;
document.write("<b>answer</b>");
if (answer[0][1] == 1) 
{
document.write("<b>Hi Boy</b>"); 
} 
</script>-->

<form method = 'POST' action = '/answerQuestion'>

<table>
    

    {% for a in answers2 %}
    <tr>
        <td>
    
        <input type="radio" name="option" value="{{a}}" required="required" >{{a}}</input>
        </td>
        </tr>
    {% endfor %}
    </table>
    {{shortanswer|safe}}

    <br>
    <br>
    {% if not  mess %}
    <button type="submit" name="submit" style="color:black;width:80px;" value="Submit"><a>Submit  </a></button>&nbsp; &nbsp;
    {% endif %}
</form>


</fieldset>
</div>
</div>
{% endblock %}




