
{% extends "layout.html" %}

{% block content %}

<section style=" position: absolute;left:29%;   ">
    
     
  

        <div method="post" style="float:center;" >
        
				<fieldset class="sf" style="color:White; border-width:3px; "  >
            <legend ><h1>Manage Classes</h1></legend>
            
            
            
             <form method="post" style="float:center;" >
            <fieldset class="sf" style="color:White; border-width:3px;float:left "  >
            <legend >Create Class</legend>
				<p> 
					<label for="class" class="class" data-icon="u" >  Class Name:  </label>
					<input id="classname" name="classname" style="color:black;"  required="required" type="text" placeholder="Enter your class"/>
					
				</p>Class Code:
				<input id="classnumber" name="classnumber" style="color:black;"  required="required" type="text" placeholder="Enter your class code"/>
				<p>
					<button type="submit" style="color:black;"alert('Your class has been created!')><a>Create Class </a></button>
					</p>
					</form>
					<form method="post"action="{{url_for('delete')}}">
				</fieldset>
				
				<fieldset class="sf" style="color:White; border-width:3px;float:left "  >
            <legend >Classes</legend>
             <Table>
                
            {% for r in results %}
                
              
               <tr>
                   <td>
               <input type="radio" name="classn" value="{{r[1]}}">{{r[1]}}
               </td>
               </tr>
               
              
            {% endfor %}
            
            </Table>
            
        
                <button type="submit" style="color:black;"><a>Delete Class </a></button>&nbsp; &nbsp;
            </form>
            </fieldset>
				
				
				
				</fieldset>
			</div>
		




        
{% endblock %}