
{% extends "layout.html" %}




{% block content %}



<div id="img">

        <img src="static/images/class.png" alt="" width="450" height="309.6" />

    </div>

<div id="right">

    

    <div id="mngc">

        <fieldset class="sf" style="color:black; border-width:3px; "  >
            <legend ><h1>Manage Questions</h1></legend>

            <div id="creatClass">
                <form method="post" action="{{url_for('controlPanel')}}" >
                    <fieldset class="sf" style="color:black; border-width:3px;float:left "  >

                        <legend ><h4>Create Question</h4></legend>
                        <p> 
                            <label for="class" class="class" data-icon="u" >  Question:  </label>
                            <textarea rows="4" cols="50" id="question" name="question" style="color:black;"  required="required" type="textfield" placeholder="Write your question here">
                                
                            </textarea>

                        </p>
                        <label for="class" class="class" data-icon="u"  >  Question Type:  </label>
                        <input type="radio" id="" name="classnumber" style="color:black;"  required="required" />Short Answer
                        <input type="radio" id="" name="classnumber" style="color:black;"  required="required" />Multiple Choices
                        <input type="radio" id="" name="classnumber" style="color:black;"  required="required" />Map
                        
                        <p>
                            
                            <button type="submit" style="color:black;"><a>Create Question </a></button>
                        </p>
                    </fieldset>
                </form>

            </div>
	


        </fieldset>
    </div>
</div>





















{% endblock %}