
{% extends "layout.html" %}

{% block content %}

<section style=" position: absolute;left:29%;   ">
    
     
  

        <form method="post" style="float:center;" >
        
				<fieldset class="sf" style="color:White; border-width:3px; "  >
            <legend ><h1>Manage Classes</h1></legend>
            
            
            <fieldset class="sf" style="color:White; border-width:3px;float:left "  >
            <legend >Create Class</legend>
				<p> 
					<label for="class" class="class" data-icon="u" >  Class Name:  </label>
					<input id="classname" name="classname" style="color:black;"  required="required" type="text" placeholder="Enter your class"/>
					
				</p>Class Code:
				<input id="classnumber" name="classnumber" style="color:black;"  required="required" type="text" placeholder="Enter your class code"/>
				<p>
					<input type="submit" value="Create Class" alert('Hello world!') style="color:black;"/> 
					</p>
				</fieldset>
				
				<fieldset class="sf" style="color:White; border-width:3px;float:left "  >
            <legend >Classes</legend>
            
            {% for r in results %}
                <span>
               <p>
               <input type="radio">{{r[1]}}
               </p>
              </<span>
            {% endfor %}
            
            </fieldset>
				
				
				
				</fieldset>
			</form>
		




        
{% endblock %}