
{% extends "layout.html" %}




{% block content %}
<h4 style="color:red;">{{request.args.get('mess', '')}}</h4>

<div id="img">

        <img src="static/images/class.png" alt="" width="450" height="309.6" />

    </div>

<div id="right">

    

    <div id="mngc">

        <fieldset class="sf" style="color:black; border-width:3px; "  >
            <legend ><h1>Manage Classes</h1></legend>

            <div id="creatClass">
                <form method="post" action="{{url_for('controlPanel')}}" >
                    <fieldset class="sf" style="color:black; border-width:3px;float:left "  >

                        <legend ><h4>Create Class</h4></legend>
                        <p> 
                            <label for="class" class="class" data-icon="u" >  Class Name:  </label>
                            <input id="classname" name="classname" style="color:black;"  required="required" type="text" placeholder="Enter your class"/>

                        </p>Class Code:
                        <input id="classnumber" name="classnumber" style="color:black;"  required="required" type="text" placeholder="Enter your class code"/>
                        <p>
                            <button type="submit" style="color:black;"><a>Create Class </a></button>
                        </p>
                    </fieldset>
                </form>

            </div>
            <div id="classes">
                
                    <fieldset class="sf" style="color:black; border-width:3px;float:left "  >
                         <legend ><h4>Classes</h4></legend>
                        <form method="post" action="{{url_for('delete')}}">
                       
                <div id="classesNames">

                        {% for r in results %}

                        <div class="class">
                            <input type="radio" name="classn" value="{{r[1]}}">{{r[1]}}</input>
                        </div>


                        {% endfor %}
              </div>

                    <br/>

                        <button type="submit" id="" style="color:black;"><a>Delete Class </a></button>&nbsp; &nbsp;
 </form>
                    </fieldset>
               
            </div>	


        </fieldset>
    </div>
</div>







<script>
    function reloadFunction() {
        location.reload();
    }
</script>













{% endblock %}