
{% extends "layout.html" %}
{% block menuBar %}
{% if ('username'  in session) %}
{% if session['username'].isdigit()==False %}
<li><a  href="/menu">Administer Question</a></li>
<li><a  href="/controlPanel">Manage Classes</a></li>
<li><a href="/controlPanelMQ1">Create Questions</a></li>
<li><a href="/modifyQ">Modify Questions</a></li>
<li><a href="/logout">Logout </a></li>
{% endif %} 
{% endif %} 

{% if 'username'  in session %}
{% if session['username'].isdigit() %}
<li><a href="/studentHome">Previous Questions</a></li>
<li><a href="/answerQuestion">Answer Question</a></li>
 <li><a href="/logout">Logout</a></li>
{% endif %} 
{% endif %} 
{% endblock %}
{% block content %}
{% if 'username' not in session %}

<div id="left">
        <img src="static/images/h.png" alt=""  />

</div>
<div id="right">
    <table>
        <tr>
            <td>
    <form action="/login" style="float:left;">
        
    <button type="submit" style="width:100px;height:50px;color:black;"><a>Admin Login </a></button>&nbsp; &nbsp;
    </form>
    
    </td>
    <td>
    <form action="/studentLogin" style="float:left;">
    <button type="submit" style="width:100px;height:50px;color:black;"><a>Student Login </a></button>
    </form>
    </td>

</tr>
</table>
</div>


 {% endif %} 
        
{% endblock %}