
{% extends "layout.html" %}

{% block content %}
{% if 'username' not in session %}
<div style=" position: absolute;left: 700px; bottom:20%  ">
    <table>
        <tr>
            <td>
    <form action="/login" style="float:left;">
        
    <button type="submit" style="width:100px;height:50px;color:black;"><a>Admin Login </a></button>&nbsp; &nbsp;
    </form>
    
    </td>
    <td>
    <form>
    <button type="submit" style="width:100px;height:50px;color:black;"><a href="">Student Login </a></button>
    </form>
    </td>

</tr>
</table>
</div>  
<p style=" position: absolute;left: 200px; bottom:40;  ">
        <img src="static/images/h.png" alt=""  />
	</div><!--close site_content-->  	
  
  </div><!--close main-->

{% endif %}    
      


</p>
 
        
{% endblock %}