
{% extends "layout.html" %}

{% block content %}

<section style=" position: absolute;left: 700px; bottom:20%  ">
    
    
    <button type="button" style="width:100px;height:50px;color:black;"><a href="/login">Admin Login </a></button>&nbsp; &nbsp;
    <button type="button" style="width:100px;height:50px;color:black;"><a href="">Student Login </a></button>



</section>  
<p style=" position: absolute;left: 200px; bottom:40;  ">
        <img src="static/images/h.png" alt=""  />
	</div><!--close site_content-->  	
  
  </div><!--close main-->

      
      


</p>
 
        
{% endblock %}