<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="format-detection" content="telephone=no"/>
  <link rel="stylesheet" href="static/css/style.css">
   <script type="text/javascript" src="static/css/js/Chart.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
        <script src="static/js/jquery.maphilight.js"></script>
 
  {% block jss %}{% endblock %}
  
  <script type="text/javascript" >
    function loadDoc() {
   // alert("hello");
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (xhttp.readyState == 4 && xhttp.status == 200) {
       var pic = xhttp.responseText;
       localStorage.setItem("qimg",pic);
       //alert(localStorage.getItem("qimg"));
       //var can=document.getElementById('canvas');
       //var imageSrc=document.getElementById('mapImg');
       //can.style.backgroundImage= "url('./static/images/uploads/"+pic+"')";
       //can.style.backgroundRepeat="no-repeat";
      // alert("im here");
       document.getElementById("mapImg").src = "static/images/uploads/"+pic;
       //document.getElementById("mapImage").src = "static/images/uploads/"+pic;
                     var imgT = new Image();
imgT.onload = function() {
  
 var w=this.width;
 var h=this.height;
 localStorage.setItem("w",w);
 localStorage.setItem("h",h);
}
imgT.src = "static/images/uploads/"+pic;
       
    }
  };
  
  var fileS=document.getElementById('image');
  
  var file=fileS.files[0];
 // alert("send"+file.name);
  var data= new FormData();
  data.append("image",file,file.name);
  data.append("type","Map");
  //alert("send");
  xhttp.open("POST", "controlPanelMQL", true);
  xhttp.send(data);
}
    
    
    
    
    
    
function changeBackground(x) {
   // alert("hello");
  var xhttp = new XMLHttpRequest();
  
   //var b= x;
  xhttp.onreadystatechange = function() {
    if (xhttp.readyState == 4 && xhttp.status == 200) {
       var background = xhttp.responseText;
       localStorage.setItem("qimg",background);
       //alert(localStorage.getItem("qimg"));
       //var can=document.getElementById('canvas');
       //var imageSrc=document.getElementById('mapImg');
       //can.style.backgroundImage= "url('./static/images/uploads/"+pic+"')";
       //can.style.backgroundRepeat="no-repeat";
      // alert("im here");
      // document.getElementById("mapImg").src = "static/images/uploads/"+pic;
       //document.getElementById("mapImage").src = "static/images/uploads/"+pic;
                     

       
    }
  };
  

 var x=document.getElementById('bg');

  xhttp.open("POST", "changeBackground", true);
  xhttp.send(x);
}    
    
    
    
  </script>
  
  
  
  
  
</head>

<body id="BG">
  
  
 <script >
    $( document ).ready(function() {
    $("#infor").delay(3000).fadeOut("slow");
});



  </script>
    
  
  

  
  
  
  
  <center>
    <div id="headeredge">
  <div id="header">
    <img src="static/images/header.png"  alt="" class="ctop" />
  
  <div id="menubar">
    <ul id="nav">
    {% if 'username' not in session and 'class_code' not in session %}<li><a  href="/">Home</a></li>{% endif %}
    {% if 'username' in session %}
          {% block menuBar %}{% endblock %}
          
          
        </ul>
      
      
    
  </div>
  
  <div id="infor" >
    {% if notification =='error' %}<div class="alert-box error"><span>error: </span>{{mess}}</div>{% endif %}
{% if notification =='success' %}<div class="alert-box success"><span>success: </span>{{mess}}</div>{% endif %}
{% if request.args.get('notification', '') =='codeError' %}<div class="alert-box error"><span>error: </span>{{request.args.get('mess', '')}}</div>{% endif %}
{% if request.args.get('notification', '') =='error' %}<div class="alert-box error"><span>error: </span>{{request.args.get('mess', '')}}</div>{% endif %}
{% if request.args.get('notification', '') =='success' %}<div class="alert-box success"><span>success: </span>{{request.args.get('mess', '')}}</div>{% endif %}
{% if request.args.get('notification', '') =='warning' %}<div class="alert-box warning"><span>warning: </span>{{request.args.get('mess', '')}}</div>{% endif %}
{% if request.args.get('notification', '') =='notice' %}<div class="alert-box notice"><span>notice: </span>{{request.args.get('mess', '')}}</div>{% endif %}


</div> 
  
  {% endif %}
  
  {% if 'class_code' in session %}
        
          
          <li><a href="/studentHome">Previous Questions</a></li>
          <li><a href="/answer">Answer Question</a></li>
          <li><a href="/logout">Logout</a></li>
          
        </ul>
      
      
    
  </div>
  
  {% endif %}
  </div>
  </div>
  
  
  </center>
  <div id="bodyborder">
  <div id="all">
    <center>
<div id="sall">
  <br><br><br>
    
  
        {% block content %}{% endblock %}
        <br>
 </div>
 </center>
</div>
</div>
<div id="footer">
			<select id="bg" >
			  <option style="background-image:url(static/images/background/bg.png)">background 1 </option>
			  <option style="background-image:url(static/images/background/em.jpg)">background 2 </option>
			  <option style="background-image:url(static/images/background/b.PNG)">background 3 </option>
			  
			</select>
			
			<button onclick="changeBg();" type="button">Apply</button>
		  <!--changeBackground(this.value);-->
			
		</div>

</body>
</html>
    
    
    
<script>
  
  function changeBg(){
    //
    if (document.getElementById("bg").value=='background 1')
    {
      
      document.getElementById('BG').style.background="url('static/images/background/bg.png')";
     // document.getElementById('BG').style.backgroundRepeat="no-repeat";
    }
    else if (document.getElementById("bg").value=='background 2')
    {
      document.getElementById('BG').style.background="url('static/images/background/em.jpg')";
     // document.getElementById('BG').style.backgroundRepeat="no-repeat";
    }

    else if (document.getElementById("bg").value=='background 3')
    document.getElementById('BG').style.background="url('static/images/background/b.PNG')";
    //document.getElementById('BG').style.backgroundRepeat="no-repeat";
  }
  
  
</script>