<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="format-detection" content="telephone=no"/>
  <link rel="icon" href="static/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="static/css/grid.css">
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="static/css/booking.css"/>
  <link rel="stylesheet" href="static/css/jquery.fancybox.css"/>
  <link rel="stylesheet" href="static/css/owl-carousel.css"/>

  <script src="js/jquery.js"></script>
  <script src="js/jquery-migrate-1.2.1.js"></script>


  <script src='js/device.min.js'></script>
  
</head>

<body>

<center>
  {% if 'username' in session %} 
        <form  method="POST" action="{{url_for('logout')}}">
          <p><input type="submit" value="Logout" name="submit"style="color:black;" /></p>
          </form>
          {% endif %}
          
</center>

      
        
{% block content %}{% endblock %}
<p style=" position: absolute;left: 200px; bottom:40%  ">
        <img src="static/images/h.png" alt=""  />


</p>



</body>
</html>
    