{% extends "layout.html" %}

{% block content %}
<div id="infor" >
{% if request.args.get('notification', '') =='password' %}<div class="alert-box error"><span>error: </span>{{request.args.get('mess', '')}}</div>{% endif %}

</div>

<div id="left">
        <img src="static/images/h.png" alt=""  />

</div>
<div id="right">
   
   <form method="post" action="{{url_for('login')}}">
        
				<fieldset class="sf" style="color:White; border-width:3px; "  >
            <legend ><h1>Login</h1></legend>
				<p> 
				<span style=" padding-right:25px;">
					<label for="username" class="l">  Email:  </label>
					</span>
					<input id="username" name="username" style="color:black;"  required="required" type="text" placeholder="mymail@mail.com"/>
				</p>
				<p> 
				<span style=" padding-right:0px;">
					<label for="password" class="l" >  password: </label>
					</span>
					<input id="password" name="password" style="color:black;" required="required" type="password" placeholder="eg. X8df!90EO" /> 
				</p>
					<button type="submit" style="Scolor:black;"><a> Login </a></button>
				</fieldset>
			</form> 

</div>
















      
      



 

{% endblock %}




