{% extends "layout.html" %}

{% block content %}


   <center style=" position: absolute;left: 700px; bottom:50%  ">    

        <form method="post" action="{{url_for('login')}}">
        
				<fieldset class="sf" style="color:White; border-width:3px; "  >
            <legend ><h1>Login</h1></legend>
				<p> 
					<label for="username" class="uname" data-icon="u" >  Email:  </label>
					<input id="username" name="username" style="color:black;"  required="required" type="text" placeholder="mymail@mail.com"/>
				</p>
				<p> 
					<label for="password" class="youpasswd" data-icon="p">  password: </label>
					<input id="password" name="password" style="color:black;" required="required" type="password" placeholder="eg. X8df!90EO" /> 
				</p>
					<input type="submit" value="Login" style="color:black;"/> 
				</fieldset>
			</form>
		</center> 


{% endblock %}




