{% extends "layout.html" %}

{% block content %}


   <center style=" position: absolute;left: 700px; bottom:25%  ">    

        <form method="post" action="{{url_for('login')}}">
        
				<fieldset class="sf" style="color:White; border-width:3px; "  >
            <legend ><h1>Login</h1></legend>
				<p> 
					<label for="username" class="uname" data-icon="u" >  Email:  </label>
					<input id="username" name="username" style="color:black;"  required="required" type="text" placeholder="mymail@mail.com"/>
				</p>
				<p> 
					<label for="password" class="youpasswd" data-icon="p">  password: </label>
					<input id="password" name="password" style="color:black;" required="required" type="password" placeholder="eg. X8df!90EO" /> 
				</p>
					<button type="submit" style="color:black;"><a> Login </a></button>
				</fieldset>
			</form>
		</center> 
<p style=" position: absolute;left: 200px; bottom:40;  ">
        <img src="static/images/h.png" alt=""  />
	</div><!--close site_content-->  	
  
  </div><!--close main-->

      
      


</p>
 

{% endblock %}




