{% extends "layout.html" %}
{% block menuBar %}

<li><a  href="/menu">Administer Question</a></li>
<li><a  href="/controlPanel">Manage Classes</a></li>
<li><a href="/controlPanelMQ1">Create Questions</a></li>
<li><a href="/modifyQ">Modify Questions</a></li>
<li><a href="/logout">Logout </a></li>
{% endblock %}
{% block content %}


<div id="left">
        <img src="static/images/setting.png" alt=""  width="400" height="400" />

</div>

<div id="right">
    
    <div id="mngc">
        
        
        <div style="width:400px;">
        
<fieldset class="sf" style="color:black; border-width:3px; height:90%; "  >
                         <legend ><h4>Administer Question</h4></legend>
                         <div>
                             <form method="post" action ="{{url_for('menu')}}">
                             <div class="class">
                             <select name = "className"  class = "selectpicker form-control">
                             {% for r in results %}

                                      <option name="classn" value="{{r[1]}}" {% if currentClass==r[1] %} selected{% endif %}>{{r[1]}}</option>

                        {% endfor %}
                             </select>
                            
                            <!--<form method = 'POST' action = '/menu'>-->
                                <select name="question"  class="selectpicker form-control">
                                    
                                 {% for i in res %}
                                      
                                      <option   value="{{i[0]}}" {% if currentQuestion==i[0] %} selected{% endif %}>{{i[0]}} </option>
                                      
                                {% endfor %}
                                 </select>
                                 
                             </div>
                                     <button onclick="" type="submit" name="display" value="Display" id="display"><a>Display</a></button>
                               <!--      <input onclick="" type="submit" name="display" value="Display" id="display"/> -->
                                     
                                     
                                     <button onclick="" type="submit" style="" value="Show Result" name="showr" id="ShowR"><a>Show Result</a></button>
                               <!--      <input onclick="" type="submit" style="" value="Show Result" name="showr" id="ShowR"/>-->
                             
                            <!-- <img src='static/images/cloud_large.png' alt='' /> -->
                         </div>
                         <div id=result>
                             
                             
                         </div>
  
  {% if display or chart %}
  
<fieldset class="sf" style="color:black; border-width:3px;  "  >
    
                         <legend ><h4>Displayed Question</h4></legend>
                         
                             
                             
                    <table>
                        <tr>
                            <td>
                        
                     
                    Class Name:</td>     <td> {{curC}}<br>
                    </td>
                    </tr>
                    <tr>
                    <td>
                    Class Code:</td>    <td> {{classcode}}<br>
                    </td>
                    </tr>
                    </table> 
                    &nbsp; &nbsp;<button type="submit" onclick="submitFormOkay = true;" name="hide" value="Hide" id="hide"><a>Hide</a></button>  <!-- <input onclick="submitFormOkay = true;" type="submit" style="display" name="hide" value="Hide" id="hide"/>-->
                         
                        
</fieldset>
{% endif %}                       
                  
                             
    
</fieldset>

</div>

   </div> 
</div>
{% if filename %}

  <button type="submit" name="shareResult"  style="width:600px;height:50px;" id="shareResult"><a>Share Result </a></button>
  

<div style="width:600px;height:500px;">
          
        <object type="image/svg+xml"data='{{filename}}' name="imgR" value="{{filename}}"></object>
        

</div><input type="text" name="imgR" style="visibility: hidden;" value="{{filename}}" id="imgR"/>
 {% endif %}
 {% if s %}
   <button type="submit"   style="width:600px;height:60px;" name="shareResult" id="shareResult"><a>Share Result </a></button>

<div style="width:600px;height:400px;">
    
        <img src="{{fname}}" name="imgR" value="{{fname}}"></img>      
        
        

</div><input type="text" name="imgR" style="visibility: hidden;" value="{{fname}}" id="imgR"/>


 {% endif %}
 
  </form>  

<script type="text/javascript" >
    function showres() 
{
   document.getElementById("result").innerHTML = "<img src='cloud_large.png' alt='' />";
}
    
    function change() 
{
    if (document.getElementById("display").value=="Display") {
        document.getElementById("hide").style.display="inline";
        document.getElementById("display").style.display="inline";
        //document.getElementById("display").value= "Hide";
        //document.getElementById("ShowR").style.display="none";
        //document.getElementById("shareR").style.display="none";
        
        
    }
    else {
    document.getElementById("display").value= "Display";
    //document.getElementById('ShowR').style.display='inline';
        //document.getElementById("shareR").style.display="inline";
        
    }
}
</script>


{{conf|safe}}











      
      



 

{% endblock %}




