{% extends "layout.html" %}
{% block menuBar %}

<li><a  href="/menu">Administer Question</a></li>
<li><a  href="/controlPanel">Manage Classes</a></li>
<li><a href="/controlPanelMQ1">Create Questions</a></li>
<li><a href="/modifyQ">Modify Questions</a></li>
<li><a href="/logout">Logout </a></li>
{% endblock %}
{% block content %}


<div id="left">
        <img src="static/images/setting.png" alt=""  width="400" height="400" />

</div>

<div id="right">
    
    <div id="mngc">
        
        
        <div style="width:400px; height:200px;">
        
<fieldset class="sf" style="color:black; border-width:3px; height:90%; "  >
                         <legend ><h4>Administer Question</h4></legend>
                         <div>
                             <form method="post" action ="{{url_for('menu')}}">
                             <div class="class">
                             <select name = "className" {% if display %} value="{{curC}}" {% endif %} class = "selectpicker form-control">
                             {% for r in results %}

                                      <option name="classn" value="{{r[1]}}">{{r[1]}}</option>

                        {% endfor %}
                             </select>
                            
                            <!--<form method = 'POST' action = '/menu'>-->
                                <select name="question" {% if display %}value="{{curQ}}"{% endif %} class="selectpicker form-control">
                                 {% for i in res %}
                                      
                                      <option   value="{{i[0]}}">{{i[0]}} </option>
                                      
                                {% endfor %}
                                 </select>
                                 
                             </div>
                             
                                     <input onclick="" type="submit" name="display" value="Display" id="display"/>
                                     
                                     
                                     <input onclick="" type="button" style="display:none" value="Share Result" id="shareR"/>
                                     <input onclick="" type="submit" style="" value="Show Result" name="showr" id="ShowR"/>
                             </form>
                            <!-- <img src='static/images/cloud_large.png' alt='' /> -->
                         </div>
                         <div id=result>
                             
                             
                         </div>
  
  {% if display or chart %}
<fieldset class="sf" style="color:black; border-width:3px;  "  >
                         <legend ><h4>Displayed Question</h4></legend>
                         <form method="post" action ="{{url_for('menu')}}">
                             
                         
                         {{curC}}:&nbsp; &nbsp;<input onclick="submitFormOkay = true;" type="submit" style="display" name="hide" value="Hide" id="hide"/>
                         
                         </form>
</fieldset>
{% endif %}                       
                      
    
</fieldset>

</div>

   </div> 
</div>
{% if filename %}
<div style="width:500px;height:500px;">
          
        <object type="image/svg+xml"data='{{filename}}'></object>
        

</div>
 {% endif %}
 {% if s %}
<div style="width:500px;height:500px;">
    
        <img src="{{fname}}"></img>      
        
        

</div>
 {% endif %}
 
    

<script type="text/javascript" >
    function showres() 
{
   document.getElementById("result").innerHTML = "<img src='cloud_large.png' alt='' />";
}
    
    function change() 
{
    if (document.getElementById("display").value=="Display") {
        document.getElementById("hide").style.display="inline";
        document.getElementById("display").style.display="inline";
        //document.getElementById("display").value= "Hide";
        //document.getElementById("ShowR").style.display="none";
        //document.getElementById("shareR").style.display="none";
        
        
    }
    else {
    document.getElementById("display").value= "Display";
    //document.getElementById('ShowR').style.display='inline';
        //document.getElementById("shareR").style.display="inline";
        
    }
}
</script>


{{conf|safe}}











      
      



 

{% endblock %}




