{% extends "layout.html" %}


{% block menuBar %}
{% if 'username'  in session %}

<li><a href="/studentHome">Previous Questions</a></li>
<li><a href="/answerQuestion">Answer Question</a></li>
 <li><a href="/logout">Logout</a></li>
 {% endif %}
{% endblock %}

{% block content %}

<div id="mngc">
    <fieldset class="sf" style="color:Black; border-width:3px; "  >
    <table>
        <tr>
            <td>
                <h3>Question:</h3>
            </td>
            <td>
                Why was the Great Wall of China built?
            </td>
        </tr>
        <tr>
            <td>
                <h3>Comments:</h3>
            </td>
            <td>
                The Great Wall of China was built to protect the northern borders of China from various nomadic groups.
            </td>
        </tr>
        <tr>
            <td>
                <h3>Visualized Results:</h3>
            </td>
            <td>
                <img src="static/images/word.png" alt=""  />

                

            </td>
        </tr>
    </table>
</div>

        
{% endblock %}