{% extends "layout.html" %}


{% block menuBar %}
{% if 'username'  in session %}
<li><a href="/studentHome">Previous Questions</a></li>
<li><a href="/answerQuestion">Answer Question</a></li>
 <li><a href="/logout">Logout</a></li>
 {% endif %}
{% endblock %}

{% block content %}


<div id="mngc">
    <fieldset class="sf" style="color:Black; border-width:3px; "  >
    <table>
        <tr>
            <td>
                <h3>Question:</h3>
            </td>
            <td>
                Where did the "49ers" go during the gold rush (and no, not the football team)?
            </td>
        </tr>
        <tr>
            <td>
                <h3>Comments:</h3>
            </td>
            <td>
                California was the destination. California is still one of the most populous states today.
            </td>
        </tr>
        <tr>
            <td>
                <h3>Visualized Results:</h3>
            </td>
            <td>
                <img src="../static/images/map.png" alt=""  />

            </td>
        </tr>
    </table>
</div>


        
{% endblock %}