{% extends "layout.html" %}



{% block menuBar %}
{% if 'username' in session %}
<li><a href="/studentHome">Previous Questions</a></li>
<li><a href="/answerQuestion">Answer Question</a></li>
 <li><a href="/logout">Logout</a></li>
  {% endif %} 
{% endblock %}


{% block content %}


<div id="mngc">
    <fieldset class="sf" style="color:Black; border-width:3px; "  >
    <table>
        {% for r in results %}
        <tr>
            <td>
                <h3>Question:</h3>
            </td>
            <td>
                {{r[2]}}
            </td>
        </tr>
        <tr>
            <td>
                <h3>Answer:</h3>
            </td>
            <td>
                {{r[3]}}
            </td>
        </tr>
      <!--  <tr>
            <td>
                <h3>Comments:</h3>
            </td>
            <td>
                The correct answer is B. The Great Wall of China is big, but it cannot actually be seen from space.
            </td>
        </tr>-->{% endfor %}
        {% for i in res %}
        <tr>
            <td>
                <h3>Visualized Results:</h3>
            </td>
            <td>
                <div style="width:600px;height:500px;">
                <img src="{{i[4]}}" name="imgR" value="{{Visualized_image}}" ></img>
                </div>
              <!--  <img src="static/images/bar.png" alt=""  />-->
            </td>
        </tr>
        {% endfor %}
    </table>
</div>


{{chart|safe}}
        
{% endblock %}