
/*========================================================
                      Main Styles
=========================================================*/
body {
  width:100%;
  background: #10223a;
  border-left:100px;
  color: #808289;
  font: 400 16px/29px "Ubuntu", sans-serif;
  overflow-x:hidden;
  
}
#headeredge{
  
border-left:20px #10223a solid;
border-right:20px #10223a solid;
}

#header{
  
  margin: 0 auto;
  border-top:10px white solid;
  border-left: 50px white solid;
  border-right: 50px white solid;
  
  height: 225px;
  
}
#bodyborder{
  border-left:20px #10223a solid;
border-right:20px #10223a solid;
}
#all{
  border:50px white solid;
  border-left-width: 50px;
  border-right-width: 50px;
  border-bottom-width: 10px;
  height:110%;
}
#sall{
  margin: 0 auto;
  
}
#right{
  vertical-align: middle;
  display: table-cell;

  
}
#left{
  position: relative;
  left: -100px;
  display: table-cell;
  width:300px;
  
}

#menubar
{ width: 100%;
  height: 50px;
  text-align: center; 
  background: #0043A8;
  background: -moz-linear-gradient(#43A9FF, #0043A8);
  background: -o-linear-gradient(#43A9FF, #0043A8);
  background: -webkit-linear-gradient(#43A9FF, #0043A8);
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;} 
  

ul#nav
{ margin:0;
  float: center;
}

ul#nav li
{ padding: 0 0 0 0px;
  list-style: none;
  margin: 2px 0 0 0;
  display: inline;
  background: transparent;}

ul#nav li a
{ float: left;
  font: bold 120% Arial, Helvetica, sans-serif;
  height: 24px;
  margin: 10px 0 0 20px;
  text-shadow: 1px 1px #000;
  padding: 6px 20px 0 20px;
  background: transparent; 
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;
  text-align: center;
  color: #FFF;
  text-decoration: none;} 
  
ul#nav li.current a, ul#nav li:hover a
{ color: #002256; 
  text-shadow: 1px 1px #43A9FF;}

a{
  text-decoration: none;
}
button:hover{
  background-color: #49bf9d;
}
#menubar{
  position: relative;
  bottom: 9px;
}
#creatClass
{
  display: table-cell;
    
}
#img
{
  
  display: table-cell;

}
#mngc
{

  

  background-color: white;
  display: table-cell;
  color:black;
   
}

#classes{
display: table-cell;
  width:200px;
  
   min-height:150px;
  max-height:150px;
 
}
#classes form
{
  min-height:150px;
  max-height:150px;
}
#classesNames {
    min-height:100px;
  max-height:100px;
  overflow: auto;
  min-width:200px
}

.class{
  text-align:left;
  max-width:200px;
   min-width:100px;
}





.alert-box {
    color:#555;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
    padding:10px 10px 10px 36px;
    margin:10px;
}
.alert-box span {
    font-weight:bold;
    text-transform:uppercase;
}

.error {
    background:#ffecec url('images/error.png') no-repeat 10px 50%;
    border:1px solid #f5aca6;
}
.success {
    background:#e9ffd9 url('images/success.png') no-repeat 10px 50%;
    border:1px solid #a6ca8a;
}
.warning {
    background:#fff8c4 url('images/warning.png') no-repeat 10px 50%;
    border:1px solid #f2c779;
}
.notice {
    background:#e3f7fc url('images/notice.png') no-repeat 10px 50%;
    border:1px solid #8ed9f6;
}